.terminalInputs
        width: 97.3vw
        height: 15vh
        margin: auto
        font-size: Hack
        margin-bottom: 0

        .terminalParagraphs 
                display: flex
                flex-direction: column

                p 
                        margin: 0
