.help
    position: absolute
    width: 600px
    height: 500px
    top: 20vh
    left: 34vw
    cursor: default
    overflow-y: hidden

    .helpHeader
        position: relative
        font-family: Hack
        // border: solid 1px #000
        text-align: center

        
    .helpBody 
        color: white
        padding: 10px 10px
        font-family: FiraCode
        font-size: 20px

        // .closeButton 
        //         color: red
        //         font-family: Arial
        //         border-radius: 50%
        //         padding: 3px 10px
        //         cursor: pointer
        //         border: none
        //         outline: none
        //         background-color: transparent

