.help
    position: absolute
    top: 20vh
    left: 34vw
    cursor: default

    /* Handle on hover */
    


    .helpHeader
        position: relative
        font-family: Hack
        // border: solid 1px #000
        text-align: center

        
    .helpBody 
        color: white
        font-family: FiraCode
        font-size: 20px
        width: 600px
        height: 500px
        
        overflow-y: scroll

        &::-webkit-scrollbar 
            width: 10px
            scroll-behavior: smooth
        

        &::-webkit-scrollbar-track 
            box-shadow: inset 0 0 6px grey
            border-radius: 10px
        
        
        &::-webkit-scrollbar-thumb 
            background: grey
            border-radius: 10px
        
        ul 
            display: flex
            flex-direction: column
            margin-left: -20px
            padding-right: 20px
            list-style-type: none

        // .closeButton 
        //         color: red
        //         font-family: Arial
        //         border-radius: 50%
        //         padding: 3px 10px
        //         cursor: pointer
        //         border: none
        //         outline: none
        //         background-color: transparent

