.terminal
    display: flex
    flex-direction: column

    .terminalInput
        resize: none
        outline: none
        margin-top: 2px
        margin-left: 40px
        width: 97vw
        font-size: 14px
