@font-face 
    font-family: 'Hack'
    src: url('../../assets/Hack-Regular.ttf')

.terminal
    display: flex
    flex-direction: column
    font-family: Hack
    width: 100vw

    .terminalInput
        resize: none
        outline: none
        border: none
        width: 100vw
        padding-left: 20px
        font-family: Hack
        margin: auto
        margin-bottom: 0

