.principalForm
    display: flex
    flex-direction: row
        
    .principalInput
        margin: auto
        font-family: FiraCode
        width: 100vw
        border: none
        padding: 0px 10px
        height: 77vh
        resize: none
        outline: none
                    