.header
    display: flex
    flex-direction: row
    width: 100vw
    margin-top: 0.2vh
    border-radius: 1vw 1vw 0px 0px
    height: 2vh
    background-color: green 
    margin-left: auto
    margin-right: auto
    justify-content: center
    font-family: Hack


    p
        margin: 0
        padding: 0
        display: flex
