@font-face 
    font-family: 'FiraCode'
    src: url('./assets/FiraCode-Regular.ttf')

    
    
body 
    overflow: hidden
    box-sizing: border-box
    margin: 0
    padding: 0
    background: black

    

    .editor 
        margin: 0
        padding: 0
        position: relative
        height: 101vh
        margin-top: -1px


    
