@font-face 
    font-family: 'FiraCode'
    src: url('./assets/FiraCode-Regular.ttf')

    
    
body 
    overflow: hidden
    box-sizing: border-box
    margin: 0
    padding: 0

    .editor 
        margin: 0
        padding: 0
    
    
